body {
    background-image: url('/static/image/wallpaperflare.com_wallpaper.jpg'); /* Ganti URL dengan URL gambar latar belakang Anda */
    background-size: cover; /* Menyesuaikan gambar dengan ukuran layar */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
    background-attachment: fixed; 
}
.container {
    background-color: rgba(248, 249, 250, .65);
    padding: 20px;
    border-radius: 5px;
}

#uploadedImage {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 2px solid #007bff;
    border-radius: 5px;
}

#uploadButton {
    background-color: #007bff;
    color: #fff;
}

#uploadButton:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 10px;
}