<!DOCTYPE html>
<html>
<head>
    <title>Waifu Selector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Waifu Selector</h1>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tembak Gambar</h5>
                        <div class="form-group">
                            <input type="file" class="form-control" id="imageInput" accept="image/*">
                        </div>
                        <button class="btn btn-primary btn-block" id="uploadButton">Unggah</button>
                    </div>
                </div>
                <div id="dataContainer" class="mt-4">
                    <p id="predictionText" class="text-center"></p>
                    <img id="uploadedImage" src="" alt="Gambar yang diunggah" style="display: none;">
                </div>
            </div>
        </div>
    </div>

    
    <script src="/static/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap
